@import url("https://fonts.googleapis.com/css2?family=Baloo+Chettan+2&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  background: cornsilk; 
}

.container {
    font-family: "Baloo Chettan 2", cursive;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main-heading {
  font-size: 50px;
  text-align: center;
  font-weight: bold;
  margin: 20px 20px 50px 20px;
}

.btn {
  font-family: "Baloo Chettan 2", cursive;
  background-color: #819482;
  border: none;
  color: white;
  padding: 15px 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 50px;
}
